
    <h5 class="card-title">{{this.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Rating: {{rating}}</h6>
    <p class="card-text">Dirección: {{address}}</p>
    <p class="card-text priceLevel">Rango de precios: {{priceLevel}}</p>
    <a href="/restaurants/route/{{_id}}" class="btn btn-info">Llevame allí</a>
    <a href="/restaurants/{{_id}}" class="btn btn-secondary">Ver detalles</a>
