<h1 class='h1Custom'>Listado de restaurantes</h1>
<br>
	<div class="row justify-content-center">
    <div class="col-12">
      <form class="card card-sm" method='POST' action='/restaurants/search'>
        <div class="card-body row no-gutters align-items-center">
          <div class="col-auto">
              <i class="fas fa-search h4 text-body"></i>
          </div>
          <div class="col">
              <input name='name' class="form-control form-control-lg form-control-borderless" type="search" placeholder="¿Dónde comemos hoy?">
          </div>
          <div class="col-auto">
              <button class="btn btn-lg btn-info" type="submit">Buscar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
<figure id='myMap'></figure>

<br>

<div class="row mx-auto">
{{#each restaurantArr}}
<div class="card col-12 col-sm-12 col-md-6 col-lg-4">
  <div class="card-body">
    <h5 class="card-title customCard">{{name}}</h5>
    <h6 class="card-subtitle">Rating: {{rating}}</h6>
    <p class="card-text">Dirección: {{address}}</p>
    <p class="card-text">Rango de precios: {{priceLevel}}</p>
    <a href="/restaurants/route/{{_id}}" class="btn btn-info">Llevame allí</a>
    <a href="/restaurants/{{_id}}" class="btn btn-secondary">Ver detalles</a>
    <br><br>
    {{#if ../user}}
          <form action="/restaurants/favs/add/{{_id}}" method="POST">
          <button type="submit" class="btn btn-light"><img class='fav' src='../images/fav.png'> Agregar a favoritos</button>
          </form>
      
          <form method = "post" action ="/restaurants/wish/add/{{_id}}">
          <button type="submit" class="btn btn-light"><img class='star' src='../images/star.png'> Wishlist</button>
          </form>

          <form action ='/restaurants/reviews/new/{{_id}}'>
          <button type="submit" class="btn btn-light"><img class='add' src='../images/add.png'> Nueva reseña</button>
          </form>

          <p>{{errorMsg}}</p>
          
    {{/if}}
  </div>
</div>
{{/each}}

</div>

<script>
  const search = '{{search}}' ;
</script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="/javascripts/mapStyles.js"></script>

<script src='/javascripts/script.js'></script>

<script src="https://maps.googleapis.com/maps/api/js?key={{key}}"></script>