<h1 class='h1Custom'>Listado de restaurantes</h1>
<br>

<figure id='myMap'></figure>

<br>

<div class="row mx-auto">
{{#each restaurantArr}}
<div class="card col-12 col-sm-12 col-md-6 col-lg-4">
  <div class="card-body">
    <h5 class="card-title customCard">{{name}}</h5>
    <h6 class="card-subtitle">Rating: {{rating}}</h6>
    <p class="card-text">Dirección: {{address}}</p>
    <p class="card-text">Rango de precios: {{priceLevel}}</p>
    <a href="/restaurants/route/{{_id}}" class="card-link">Llevame allí</a>
    <a href="/restaurants/{{_id}}" class="card-link">Ver detalles</a>
    <br><br>
    {{#if ../user}}
          <form action="/restaurants/favs/add/{{_id}}" method="POST">
          <button type="submit"><img class='fav' src='../images/fav.png'> Agregar a favoritos</button>
          </form>
      
          <form method = "post" action ="/restaurants/wish/add/{{_id}}">
          <button type="submit"><img class='star' src='../images/star.png'>Wishlist</button>
          </form>

          <button><a href='/restaurants/reviews/new/{{_id}}' ><img class='add' src='../images/add.png'> Nueva reseña</a></button>

          <p>{{errorMsg}}</p>
          
    {{/if}}
  </div>
</div>
{{/each}}

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="/javascripts/mapStyles.js"></script>

<script src='/javascripts/script.js'></script>

<script src="https://maps.googleapis.com/maps/api/js?key={{key}}"></script>