<h1>Listado de restaurantes</h1>
<br>

<figure id='myMap'></figure>

<br>

<div class="row">
{{#each restaurantArr}}
<div class="card col-md-4" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Rating: {{rating}}</h6>
    <p class="card-text">Dirección: {{address}}</p>
    <p class="card-text">Rango de precios: {{priceLevel}}</p>
    <a href="/restaurants/route/{{_id}}" class="card-link">Llevame allí</a>
    <a href="/restaurants/{{_id}}" class="card-link">Ver detalles</a>
    <br>
    {{#if ../isAuth}}
          <form action="/restaurants/favs/add/{{_id}}" method="POST">
          <button type="submit">Añadir a favoritos</button>
          </form>
      
          <form method = "post" action ="/restaurants/wish/add/{{_id}}">
          <button type="submit">Wishlist</button>
          </form>

          <a href='/restaurants/reviews/new/{{_id}}' ><button>Nueva reseña</button></a>

          <p>{{errorMsg}}</p>
          
      <a href="#" class="card-link">Reseña</a>
    {{/if}}
  </div>
</div>
{{/each}}

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src='/javascripts/script.js'></script>

<script src="https://maps.googleapis.com/maps/api/js?key={{key}}"></script>