<h1>Mis reseñas</h1>

<div class="row mx-auto">
{{#each opinionsArr}}
<div class="card col-12 col-md-6 col-lg-4">
  <div class="card-body">
    <h4 class="card-title">{{restaurant.name}}</h4>
    <h6 class="card-subtitle mb-2 text-muted">Rating: {{rating}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">Fecha: {{date format='YYYY-MM-DD'}}</h6>
    <p class="card-text">Comentarios: {{comments}}</p>
    <a href="/restaurants/{{restaurant._id}}" class="card-link">Ver detalles</a>
    <a href="/restaurants/list" class="card-link">Volver a lista de restaurantes</a>
    <a href="/restaurants/reviews/delete?id={{_id}}" class="card-link">Eliminar</a>
    <br>
  </div>
</div>
{{/each}}

</div>
